/* 
It would be probably better to use less, sass etc. 
to get some props like $primary-color $font-color etc.
*/

.App {
  padding: 40px 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.content{
  width: 90%;
  background: #fff;
  padding: 20px;
}

.no-data{
  text-align: center;
  font-size: 12px;
  color: #ccc;
}
